$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  font-size:30px;
  color: white;
}

.center{
  text-align: center;
  margin: auto;
}

.jumbotron {
  background-image: asset-url('bg.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: white;
}

footer {
  margin-top: 30px;
  border-top: 1px solid #DDDDDD;
}

footer small {
  float: left;
}

footer a:hover{
  color: black;
  background-color: white;
}

footer ul li {
  float: right;
  list-style: none;
}

.btn-lg {
  font-size: 25px;
  color: white;
  background-color: black;
  border: 1px solid grey;
  border-radius: 0;
}
.btn-lg:hover{
  color: white;
  background-color: #111111;
  border: 1px solid white;
}

.article-title{
  font-size: 20px;
  font-weight: bold;
  
}

.article-body {
  border-top: 1px solid grey;
  font-size: 14px;
  padding-top: 30px;
}

.row {
  margin-bottom: 20px;
}